<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/base.css">
</head>
<body>
    <div class="main">
        
        <div class="header">
            <div class="left_logo">
                <img src="/static/images/teeth logo.png" alt="" width="60px" height="50px">
            </div>
            <div class="right_menu">
                <a href="{% url 'homepage' %}"><p>Home</p></a>
                <a href="{% url 'services_page' %}"><p>Services</p></a>
                <a href="{% url 'RegisterUser' %}"><p>Register</p></a>
            </div>
        </div>
        <div class="content">
            {%block contents%}
            {%endblock%}
        </div>
        <div class="footer">
            <p>dentalbooking@onlin.com all rights reserved</p>

        </div>
    </div>
    
</body>
</html>