{%extends 'base.html'%}
{%block contents%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/doctor_reg.css">
</head>
<body>
    <h1>Doctor Register</h1>
    <div class="register_user_main">
        <div class="reg_card">
    <form method="post">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="SUBMIT">
    </form>
        </div>
    </div>

    
</body>
</html>
{%endblock%}